* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: blueviolet;
    display: flex;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 640px;
    height: 640px;
    perspective: 1000px;
}

.full-card {
    height: calc(33.33% - 10px);
    position: relative;
    width: calc(25% - 10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.full-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.full-card.flip {
    transform: rotateY(180deg)
}

.full-card.hide {
    visibility: hidden;
}

.front-face,
.back-face {
    border-radius: 5px;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: skyblue;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg)
}

.congrats {
    color: white;
    margin: auto;
    font-size: 3em;
}


/* @media all and (max-width: 600px) {
    background: url("images/background.png");
    height: auto;
    background-size: fill;
    background-position: center;
    display: flex;
    justify-content: center;
} */